h2 {
  padding-top: 20px;
  text-align: center;
}

.cont {
  background-image: url('../assets/pages.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  padding: 0;

  div {
    background-color: #fff;
    opacity: 0.9;
    height: 100%;
  }
}
