<div class="cont">
  <div class="player">
    <h3>Indiegente - Nuno Calado</h3>
    <h2>
      <marquee>{{ (palyingTrack$ | async)?.title }}</marquee>
    </h2>
    <div class="buttons">
      <button mat-button (click)="playPrevious(playingTrackIndex)">
        <mat-icon aria-hidden="false" aria-label="Play previous"
          >navigate_before</mat-icon
        >
      </button>
      <button mat-button (click)="playPause()" class="play-pause">
        <mat-icon
          [class.hidden]="playingTrackEl && !playingTrackEl?.paused"
          aria-hidden="false"
          aria-label="Play"
          >play_circle_filled</mat-icon
        >

        <mat-icon
          [class.hidden]="playingTrackEl && playingTrackEl?.paused"
          aria-hidden="false"
          aria-label="Pause"
          >pause_circle_filled</mat-icon
        >
      </button>
      <button mat-button (click)="playNext(playingTrackIndex)">
        <mat-icon aria-hidden="false" aria-label="Play next"
          >navigate_next</mat-icon
        >
      </button>
    </div>

    <div
      *ngFor="let track of playlist$ | async; let index = index"
      class="track"
    >
      <div class="title">{{ track.title }}</div>
      <audio
        #trackEl
        [src]="track.link"
        [autoplay]="index === 0"
        [controls]="true"
        (ended)="ended(index)"
        (playing)="playingTrackEl = trackEl"
      ></audio>
    </div>
  </div>
</div>
