<div class="cont">
  <div>
    <h2>Indiegente - Nuno Calado</h2>
    <mat-advanced-audio-player
      [playlist]="playlist!"
      [displayTitle]="msaapDisplayTitle"
      [autoPlay]="true"
      muted="muted"
      [displayPlaylist]="msaapDisplayPlayList"
      [displayVolumeControls]="msaapDisplayVolumeControls"
      [expanded]="true"
      (trackEnded)="loadMore()"
    ></mat-advanced-audio-player>
    <!-- <button class="p-1 mat-button" (click)="revertOrder()">
      <fa-icon [icon]="faSortAmountDownAlt"></fa-icon>
    </button> -->
  </div>
</div>
